@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem; /*espacamento interno*/
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex; /*habilita a manipulação da section, se tornando um felx container*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

.centro {
    margin-top: 0.625rem;
    text-align: center;
}

#imgDado {
    width: 200px;
}

#btnSortear {
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: #673ab7;
    color: white;
    cursor: pointer;
}

#btnSortear:hover {
    box-shadow: 1px 1px 3px rgba(137, 43, 226, 0.226);
}

#sorteado {
    background: #311b92;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

@keyframes mover {
    0% {
        transform: translateY(0px); /*mover no eixo vertical*/
        transform: rotate(45deg); /*rotacionar 90 graus*/
        opacity: 0; /*transparente*/
    }

    50% {
        transform: scale(50%); /*mudar tamanho para 50%*/
    }

    100% {
        transform: translateY(-15px); /*mover no eixo vertical*/
        transform: rotate(-45deg); /*rotacionar -90 graus*/
        opacity: 1; /*transparente*/
    }
}

@keyframes aparecer {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

.animar {
    animation: mover 0.5s infinite alternate
}

.aparecer {
    animation: aparecer 1.5s ease-in;
}